@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,900&display=swap");

:root {
  --primary: #6600cc;
  --primary-light: #aa56ff;
}

/*#region InputsFields*/

/* Cor dos labels */
.v-label {
  font-size: 15px !important;
  font-weight: 500;
  line-height: 15px;
}

/* Cor da borda (linha inferior) */
.v-text-field {
  border-color: var(--primary-light) !important;
  padding-top: 0;
  margin-top: 50px;
  margin: 3.5% 4.5%;
}

/* Cor geral dos inputs, valores e labels */
.v-input input,
.v-input textarea,
.theme--light.v-icon--link,
.v-label,
::placeholder {
  color: var(--primary-light) !important;
}

/* Tamanho do placeholder */
::placeholder {
  line-height: 15px;
  font-size: 15px;
}

/*#endregion InputsFields*/


/*#region Buttons*/

/* Retira borda arredondada default */
.v-btn {
  border-radius: unset !important;
}

/* Define o tamanho da fonte do conteúdo do botão */
.v-btn__content {
  font-size: 12px;
}

/* Define o peso da fonte do conteúdo do botão */
.btn-primary,
.btn-white,
.btn-transparent {
  font-weight: 900 !important;
}

/* Botão que preenche o container de um lado ao outro (Padrão) */
.btn-block {
  border-radius: 5px;
  width: 100%;
  height: 44px !important;
}

/* Esquema de cores tendo roxo como primário (Padrão) */
.btn-primary {  
  color: #fff !important;
  background-color: var(--primary) !important;
  box-shadow: 0px 3px 5px rgba(128, 128, 128, 0.7) !important;
}

/* Esquema de cores tendo branco como primário */
.btn-white {
  background-color: #ffffff !important;
  color: var(--primary) !important;
  border: solid 1px var(--primary);
  box-shadow: none !important;
}

/* Esquema de cores tendo o fundo transparente (Utilizado na tela de login) */
.btn-transparent {
  background-color: transparent !important;
  color: #fff !important;
  border: solid 1px #fff;
}

/*     _____ Botões novos do fluxo de cadastro _____       */
.btn-new-primary,
.btn-new-white {
  height: 48px !important;
  border-radius: 6px !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  box-shadow: none !important;
}

.btn-new-primary {    
  color: #fff !important;
  background-color: var(--primary) !important;  
}

.btn-new-white {
  background-color: #ffffff !important;
  color: var(--primary) !important;
  border: solid 2px var(--primary);
}

.btn-shadow {
  box-shadow: 0px 3px 5px rgba(128, 128, 128, 0.7) !important;
}

/*#endregion Buttons*/

.text-watermark {
  color: #d6adff !important;
}

.text-white {
  color: #fff !important;
}

.p__theme{
  color: var(--primary);
}

.v-dialog {
  background: white;
  border-radius: 15px;
}

.theme--dark.v-application {
  background: none !important;
}

.text-center {
  text-align: center !important;
}

.bg-blue {
  background-color: var(--primary) !important;
}

.bg-danger {
  background-color: #f86969 !important;
}

.h1__theme {
  font-weight: 900;
  color: var(--primary);
}

.container-spinner {
  width: 100%;
  justify-content: center;
  display: flex;
  height: 100%;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
}

.page-enter-active,
.page-enter,
#page {
  animation: intro 300ms backwards;
  animation-delay: 200ms;
}

#page {
  padding-bottom: 50px;
}

h1,
h2,
h3,
h4 {
  color: var(--primary);
}

.light-text-field {
  input,
  ::placeholder {  
    font-family: Roboto !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    line-height: 16px !important;
    letter-spacing: 0em !important;
    color: rgba(0, 0, 0, 0.4) !important;
  }
  input {
    color: rgba(0, 0, 0, 0.7) !important;
  }  
  fieldset {
    border-color: rgba(0, 0, 0, 0.1) !important;
    border-radius: 0 !important;
  }
  .v-input__slot {
    min-height: 48px !important;
  }
}