<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>886841116385-vh2j7i8f6sof95davknhnmp47id9ctn9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.886841116385-vh2j7i8f6sof95davknhnmp47id9ctn9</string>
	<key>API_KEY</key>
	<string>AIzaSyCSnAh2niawMq9QWP4KAu1TENrOQ6-rHnY</string>
	<key>GCM_SENDER_ID</key>
	<string>886841116385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.newschool.app</string>
	<key>PROJECT_ID</key>
	<string>newschoolapp-71420</string>
	<key>STORAGE_BUCKET</key>
	<string>newschoolapp-71420.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:886841116385:ios:8c99f32238896878ed59a0</string>
</dict>
</plist>